
    {% extends "base.html" %}
    {% block content %}
    <p><i class="fa fa-heart fa-2x"> Girls Who Code 2017</i></p>

<p>Welcome to <a href="https://girlswhocode.com/">Girls Who Code</a>! This is the landing site for GWC 
Summer Immersion Program located at the <a href="https://www.workday.com/">Workday</a> host site.  </p>

<p>Here, you can find all the information you need about the program, including course
materials, bios of your teaching teams, and important links.  </p>

<p><br>
<i class="fa fa-gears fa-2x"> Logistics</i></p>

<div class="row">
<div class="col-md-6">
    <dl>
        <dt><i class="fa fa-clock-o"></i> Classtime</dt>
        <dd><strong>M-F</strong> 9:00 AM - 4:00 PM PST</dd>
        <dt><i class="fa fa-home"></i> Location</dt>
        <dd>6200 Stoneridge Mall Road, Pleasanton, CA <br> Agate Bay room</dd>
    </dl>
</div>

<div class="col-md-6">
    <dl>
        <dt><i class="fa fa-life-saver"></i> Canvas</dt>
        <dd><a href="https://girlswhocode.instructure.com/login/canvas"> Girls Who Code Instructure Canvas</a></dd>
        <dt><i class="fa fa-github"></i> Github</dt>
        <dd><a href="https://github.com/bdevorem/bashfulbytesxGWC"> bdevorem/bashfulbytesxGWC</a></dd>
        <dt><i class="fa fa-code"></i> Loop</dt>
        <dd><a href="https://girlswhocode.com/loop/"> GWC Loop</a></dd>
    </dl>
</div>

<p></div></p>

<p><i id="teachingteam" class="fa fa-rebel fa-2x"> Teaching Team</i></p>

<h3>Instructor</h3>

<div class="row">
    <div class="col-md-4">
        <img class="img-circle" style="float: right;" src="/static/teek.jpg" width="175">
    </div>
    <div class="col-md-5">
    <dl>
        <dt><i class="fa fa-user"></i><a href="http://bashfulbytes.com/"> Breanna Devore-McDonald</a></dt>
        <dd></dd>
        <dt><i class="fa fa-envelope"></i> Email</dt>
        <dd>breanna.mcdonald@girlswhocode.com</dd>
        <dt><i class="fa fa-linkedin-square"></i> LinkedIn</dt>
        <dd><a href="https://www.linkedin.com/in/bdevorem/">bdevorem</a></dd>
        <dt><i class="fa fa-github"></i> Github</dt>
        <dd><a href="https://www.github.com/bdevorem/">bdevorem</a></dd>
    </dl>
    </div>
</div>

<h3>Teaching Assistants</h3>

<div class="row">
    <div class="col-md-4">
        <img class="img-circle" style="float: right;" src="/gwc/static/emily.jpg" width="175">
    </div>
    <div class="col-md-4">
    <dl>
        <dt><i class="fa fa-user"></i><a href="http://www.emily-fong.com/"> Emily Fong</a></dt>
        <dd></dd>
        <dt><i class="fa fa-envelope"></i> Email</dt>
        <dd>emily.fong@girlswhocode.com</dd>
        <dt><i class="fa fa-linkedin-square"></i> LinkedIn</dt>
        <dd><a href="https://www.linkedin.com/in/em-fong/">em-fong</a></dd>
        <dt><i class="fa fa-github"></i> Github</dt>
        <dd><a href="https://www.github.com/em-fong/">em-fong</a></dd>
    </dl>
    </div>
</div>

<p><br></p>

<div class="row">
    <div class="col-md-4">
        <img class="img-circle" style="float: right;" src="/gwc/static/mil.jpg" width="175" height="175">
    </div>
    <div class="col-md-4">
    <dl>
        <dt><i class="fa fa-user"></i> Milena Gonzalez</dt>
        <dd></dd>
        <dt><i class="fa fa-envelope"></i> Email</dt>
        <dd>milena.gonzalez@girlswhocode.com</dd>
        <dt><i class="fa fa-linkedin-square"></i> LinkedIn</dt>
        <dd><a href="https://www.linkedin.com/in/milena-gonzalez-a05b48128/">milena-gonzalez</a></dd>
        <dt><i class="fa fa-github"></i> Github</dt>
        <dd><a href="https://www.github.com/mxochitl">mxochitl</a></dd>
    </dl>
    </div>
</div>

    {% endblock %}
    