
    {% extends "base.html" %}
    {% block content %}
    <h1>Teaching Staff</h1>

<div class="row featurette">
    <div class="col-md-6 text-left">
    <h3>Breanna Devore-McDonald</h3>
    Instructor
    </div>
    <div class="col-md-6">
        <img class="img-circle" style="float: right;" src="/static/teek.jpg" width="200">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-4 text-left">
        <img class="img-circle" style="float: right;" src="/gwc/static/emily.jpg" width="200">
    </div>
    <div class="col-md-8 text-left">
    <h3>Emily Fong</h3>
    Teaching Assistant
    </div>
</div>

    {% endblock %}
    