{% extends "base.html" %}
{% block content %}
<h1>Hello world!</h1>

<p>Welcome to <a href="https://girlswhocode.com/">Girls Who Code</a>! This is the landing site for GWC 
Summer Immersion Program located at the <a href="https://www.workday.com/">Workday</a> host site.  </p>

<p>Here, you can find all the information you need about the program, including course
materials, bios of your teaching teams, and important links.  </p>

<h1>Links</h1>

<h3><a href="https://girlswhocode.instructure.com/login/canvas"><i class="fa fa-life-saver fa-1x"></i> Canvas</a></h3>

<h3><a href="https://girlswhocode.com/"><i class="fa fa-code fa-1x"></i> GWC Homepage</a></h3>

{% endblock %}